@import "tailwindcss";

:root {
  --color-primary: #141EE6;
  --background: #f4f6f7;
  --foreground: #171717;

  /* Textos  */
  --h1-size: clamp(1.60rem, calc(1.60rem + 2vw), 2rem);
  --p-size: clamp(0.85rem, calc(0.85rem + 2vw), 1.1rem)

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Invertir estos colores despues si queres un dark mode  */
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background: white;
  color: var(--foreground);
  /* font-family: var(--font-roboto); /*Opcional*/
  font-family: var(--font-open-sans); /* Buena para toda la web */
  /* font-family: var(--font-poppins);  Buena para toda la web o Titulos */
}

@layer base {
  h1 {
    font-size: var(--h1-size);
    font-weight: bold;
  }

  p {
    font-size: var(--p-size);
    line-height: 1.6;
  }
}

/* h2,
h3 {
  font-family: var(--font-geist);
} */

@layer utilities {
  .overflow-hidden {
    overflow: hidden;
  }
}
