@import "tailwindcss";

:root {
  --background: #f4f6f7;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Invertir estos colores despues si queres un dark mode  */
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background: white;
  color: var(--foreground);
  /* font-family: var(--font-roboto); /*Opcional*/
  font-family: var(--font-open-sans); /* Buena para toda la web */
  /* font-family: var(--font-poppins);  Buena para toda la web o Titulos */
}

h1 {
  font-family: var(--font-serif);
}

/* h2,
h3 {
  font-family: var(--font-geist);
} */

@layer utilities {
  .overflow-hidden {
    overflow: hidden;
  }
}
